#bloc-1-hero h1 {
  font-size: 32px;
}

.container {
  max-width: 1000px;
}

.hero-bloc-text {
  font-size: 38px;
}

.hero-bloc-text-sub {
  font-size: 36px;
}

.cta-hero {
  margin-top: 22px;
  color: white !important;
  text-transform: uppercase;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 700;
}

.social {
  max-width: 400px;
  margin: auto;
}
