root {
  --grey: #575757;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
.btn,
a {
  font-family: helvetica, sans-serif;
  font-weight: 400;
  color: var(--grey);
}
