.voffset {
  margin-top: 30px;
}

.voffset-lg {
  margin-top: 80px;
}

.mg-md {
  margin-top: 10px;
  margin-bottom: 40px;
}

.mg-md.mg-close {
  margin-bottom: 10px;
}

.mg-lg {
  margin-top: 10px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .voffset {
    margin-top: 5px;
  }

  .voffset-md {
    margin-top: 20px;
  }

  .voffset-lg {
    margin-top: 30px;
  }
}
