.service-container {
  color: var(--color-white);
  background-color: var(--color-dark-slate-blue);
  padding: 20px;
  border-radius: 28px;

  h3 {
    color: var(--color-white);
  }
}

.service-box {
  padding-left: 28px;
  padding-right: 28px;
}
